<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/people/customer'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{customer.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Customer
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Customer Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="save-product-button" [disabled]="customerForm.invalid" *ngIf="pageType ==='new'" (click)="addCustomer()">
                <span>ADD</span>
            </button>

            <button mat-raised-button class="save-product-button" [disabled]="customerForm.invalid || customerForm.pristine" *ngIf="pageType ==='edit'"
                (click)="saveCustomer()">
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="customerForm" [formGroup]="customerForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Basic Info">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Customer Name</mat-label>
                                    <input matInput placeholder="Customer Name" name="name" formControlName="name" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Company Name</mat-label>
                                    <input matInput placeholder="Company Name" name="name" formControlName="company_name">
                                </mat-form-field>
                            </div>

                        </mat-tab>
                        <mat-tab label="Communication Details">

                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Email</mat-label>
                                    <input matInput placeholder="Email" name="email" formControlName="email">
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Phone Number</mat-label>
                                    <input matInput placeholder="Phone" name="phone_number" formControlName="phone_number" required>
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Address</mat-label>
                                    <textarea matInput placeholder="Address" name="address" formControlName="address" rows="5" required>
                                    </textarea>
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>City</mat-label>
                                    <input matInput placeholder="City" name="city" formControlName="city">
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>State</mat-label>
                                    <input matInput placeholder="State" name="state" formControlName="state">
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Postal Code</mat-label>
                                    <input matInput placeholder="Postal Code" name="postal_code" formControlName="postal_code">
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Country</mat-label>
                                    <input matInput placeholder="Country" name="country" formControlName="country">
                                </mat-form-field>
                            </div>
                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>