<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/quote/quotation'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{customer.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Quotation
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Quotation Details</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="save-product-button" [disabled]="quotationForm.invalid" *ngIf="pageType ==='new'" (click)="addQuotation()">
                <span>ADD</span>
            </button>

            <button mat-raised-button class="save-product-button" [disabled]="quotationForm.invalid || quotationForm.pristine" *ngIf="pageType ==='edit'"
                (click)="saveQuotation()">
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="quotationForm" [formGroup]="quotationForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Order Details">                            
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                    {{quotationForm.value|json}}
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Select Product</mat-label>
                                    <input matInput placeholder="Please type product code" #filter>
                                </mat-form-field>
                                
                                <mat-table class="products-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}" formArrayName="orders">
                
                                        <!-- Name Column -->
                                        <ng-container matColumnDef="name">
                                            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                                            <mat-cell *matCellDef="let order;let i = index;" [formGroupName]="i">  
                                                <p class="text-truncate">{{order.name}}</p>
                                            </mat-cell>
                                        </ng-container>
                                        <!-- Code Column -->
                                        <ng-container matColumnDef="code">
                                            <mat-header-cell *matHeaderCellDef>Code</mat-header-cell>
                                            <mat-cell *matCellDef="let order">
                                                    <p class="text-truncate">{{order.code}}</p>
                                            </mat-cell>
                                        </ng-container>
                                        <!-- Quantity Column -->
                                        <ng-container matColumnDef="quantity">
                                                <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
                                                <mat-cell *matCellDef="let order;let i = index;" [formGroupName]="i">
                                                    <mat-form-field appearance="outline" class="w-50-p">                                                    
                                                        <input matInput type="number"  formControlName="quantity" required>
                                                    </mat-form-field>
                                                </mat-cell>
                                        </ng-container>
                                        <!-- Unit price Column -->
                                        <ng-container matColumnDef="sellingPrice">
                                            <mat-header-cell *matHeaderCellDef>Net Unit Price</mat-header-cell>
                                            <mat-cell *matCellDef="let order;let i = index;" [formGroupName]="i">
                                                <mat-form-field appearance="outline" class="w-100-p">                                                    
                                                    <input matInput type="number"  formControlName="sellingPrice" required>
                                                </mat-form-field>
                                            </mat-cell>
                                        </ng-container>
                                        <!-- Discount Column -->
                                        <ng-container matColumnDef="discount">
                                            <mat-header-cell *matHeaderCellDef>Discount</mat-header-cell>
                                            <mat-cell *matCellDef="let order;let i = index;" [formGroupName]="i">
                                                <mat-form-field appearance="outline" class="w-50-p">                                                    
                                                    <input matInput type="number"  formControlName="discount">
                                                </mat-form-field>
                                            </mat-cell>
                                        </ng-container>
                                        <!-- Tax  Column -->
                                        <ng-container matColumnDef="tax">
                                            <mat-header-cell *matHeaderCellDef>Tax</mat-header-cell>
                                            <mat-cell *matCellDef="let order;let i = index;" [formGroupName]="i">
                                                <mat-form-field appearance="outline" class="w-50-p">                                                    
                                                    <input matInput type="number"  formControlName="tax">
                                                </mat-form-field>
                                            </mat-cell>
                                        </ng-container>
                                        <!-- Subtotal  Column -->
                                        <ng-container matColumnDef="SubTotal">
                                            <mat-header-cell *matHeaderCellDef>SubTotal</mat-header-cell>
                                            <mat-cell *matCellDef="let order;let i = index;" [formGroupName]="i">
                                                0
                                            </mat-cell>
                                        </ng-container>
                                        <!-- Action  Column -->
                                        <ng-container matColumnDef="Action">
                                            <mat-header-cell *matHeaderCellDef>SubTotal</mat-header-cell>
                                            <mat-cell *matCellDef="let order;let i = index;" [formGroupName]="i">
                                                <mat-icon (click)="deleteOrder(index)">delete</mat-icon>
                                            </mat-cell>
                                        </ng-container>
                                        
                                        <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>                        
                                        <mat-row *matRowDef="let order; columns: displayedColumns;" class="product">
                                        </mat-row>
                        
                                    </mat-table>

                            </div>

                        </mat-tab>
                        <mat-tab label="Customer Info">                            
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                            <mat-label>Choose Customer</mat-label>
                                            <mat-select formControlName="customer_id">
                                                <mat-option *ngFor="let customer of customers" [value]="customer.id">
                                                    {{customer.name}} ({{customer.phone_number}})
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                            </div>
                        </mat-tab>
                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>