<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/manage/product'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="product.image" src="data:image/png;base64,{{product.image}}">
                    <img *ngIf="!product.image" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{product.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Product
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Product Detail</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="save-product-button" [disabled]="productForm.invalid" *ngIf="pageType ==='new'" (click)="addProduct()">
                <span>ADD</span>
            </button>

            <button mat-raised-button class="save-product-button" [disabled]="productForm.invalid || productForm.pristine" *ngIf="pageType ==='edit'"
                (click)="saveProduct()">
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-tab-group>

                        <mat-tab label="Basic Info">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Product Name</mat-label>
                                    <input matInput placeholder="Product Name" name="name" formControlName="name" required>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Product Description</mat-label>
                                    <textarea matInput placeholder="Product Description" name="description" formControlName="description" rows="5">
                                    </textarea>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">

                                    <mat-label>Choose Category</mat-label>

                                    <mat-select formControlName="category" required>
                                        <mat-option *ngFor="let category of categories" [value]="category.id">
                                            {{category.category_name}}
                                        </mat-option>
                                    </mat-select>

                                </mat-form-field>

                            </div>

                        </mat-tab>

                        <mat-tab label="Product Image">

                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row wrap" fxLayoutAlign="start start">

                                    <div *ngIf="!product.image" class="product-image" fxlayout="row" fxLayoutAlign="center center">
                                        <img class="media" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                                    </div>

                                    <div *ngIf="product.image" class="product-image" fxlayout="row" fxLayoutAlign="center center">
                                        <img class="media" src="data:image/png;base64,{{product.image}}">
                                    </div>

                                </div>
                                <button (click)="fileInput.click()">
                                    <mat-icon class="s-20">library_add</mat-icon>
                                    <span>Select</span>
                                    <input #fileInput type="file" (change)="onImageUpload($event)" accept="image/*" style="display:none;" />
                                </button>
                            </div>

                        </mat-tab>

                        <mat-tab label="Pricing">

                            <div class="tab-content p-24" fusePerfectScrollbar>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Buying Price</mat-label>
                                    <input matInput placeholder="Tax Excluded Price" name="buyingPrice" formControlName="buyingPrice" type="number" required>
                                    <span matPrefix>AED&nbsp;</span>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Selling Price</mat-label>
                                    <input matInput placeholder="Tax Included Price" name="sellingPrice" formControlName="sellingPrice" type="number" required>
                                    <span matPrefix>AED&nbsp;</span>
                                </mat-form-field>

                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Tax Rate</mat-label>
                                    <input matInput placeholder="Tax Rate" name="taxRate" formControlName="taxRate" type="number">
                                    <span matPrefix>&#37;&nbsp;</span>
                                </mat-form-field>
                            </div>
                        </mat-tab>

                        <mat-tab label="Inventory">

                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Choose Sales unit</mat-label>
                                    <mat-select formControlName="salesUnit" required>
                                        <mat-option *ngFor="let salesUnit of salesUnits" [value]="salesUnit.id">
                                            {{salesUnit.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                    <mat-label>Quantity</mat-label>
                                    <input matInput placeholder="Quantity" name="quantity" formControlName="quantity" type="number">
                                </mat-form-field>
                            </div>

                        </mat-tab>

                    </mat-tab-group>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>