<div class="widget-group">
    <div>

            <div class="widget" fxFlex="100" fxFlex.gt-sm="34">
                    <div class="fuse-card auto-width mb-32">
                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">
            
                            <div class="pr-16">
                                <div class="h3 secondary-text">Products</div>
                                <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                                    100
                                </div>
                            </div>
            
                            <div class="py-4 font-size-16" fxLayout="row" fxLayoutAlign="start center">
                              
                                <div class="ml-4 text-nowrap">
                                        <button mat-button="" color="accent" class="ng-tns-c206-786 mat-button mat-button-base mat-accent" (click)="navigateTo('/manage/product')"><span class="mat-button-wrapper">Click here</span><div matripple="" class="mat-ripple mat-button-ripple"></div><div class="mat-button-focus-overlay"></div></button>
                                </div>
                            </div>
            
                        </div>
                    </div>
                </div>
    </div>
    <div>
            <div class="widget" fxFlex="100" fxFlex.gt-sm="34">
                    <div class="fuse-card auto-width mb-32">
                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">
            
                            <div class="pr-16">
                                <div class="h3 secondary-text">Categories</div>
                                <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                                    100
                                </div>
                            </div>
            
                            <div class="py-4 font-size-16" fxLayout="row" fxLayoutAlign="start center">
                              
                                <div class="ml-4 text-nowrap">
                                        <button mat-button="" color="accent" class="ng-tns-c206-786 mat-button mat-button-base mat-accent" (click)="navigateTo('/manage/category')"><span class="mat-button-wrapper">Click here</span><div matripple="" class="mat-ripple mat-button-ripple"></div><div class="mat-button-focus-overlay"></div></button>
                                </div>
                            </div>
            
                        </div>
                    </div>
                </div>
    </div>
    <div>
            <div class="widget" fxFlex="100" fxFlex.gt-sm="34">
                    <div class="fuse-card auto-width mb-32">
                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">
            
                            <div class="pr-16">
                                <div class="h3 secondary-text">Quotations</div>
                                <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                                    100
                                </div>
                            </div>
            
                            <div class="py-4 font-size-16" fxLayout="row" fxLayoutAlign="start center">
                              
                                <div class="ml-4 text-nowrap">
                                        <button mat-button="" color="accent" class="ng-tns-c206-786 mat-button mat-button-base mat-accent" (click)="navigateTo('/quote/quotation')"><span class="mat-button-wrapper">Click here</span><div matripple="" class="mat-ripple mat-button-ripple"></div><div class="mat-button-focus-overlay"></div></button>
                                </div>
                            </div>
            
                        </div>
                    </div>
                </div>
    </div>
    <div>
            <div class="widget" fxFlex="100" fxFlex.gt-sm="34">
                    <div class="fuse-card auto-width mb-32">
                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">
            
                            <div class="pr-16">
                                <div class="h3 secondary-text">Sales</div>
                                <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                                    100
                                </div>
                            </div>
            
                            <div class="py-4 font-size-16" fxLayout="row" fxLayoutAlign="start center">
                              
                                <div class="ml-4 text-nowrap">
                                        <button mat-button="" color="accent" class="ng-tns-c206-786 mat-button mat-button-base mat-accent" (click)="navigateTo('/quote/quotation')"><span class="mat-button-wrapper">Click here</span><div matripple="" class="mat-ripple mat-button-ripple"></div><div class="mat-button-focus-overlay"></div></button>
                                </div>
                            </div>
            
                        </div>
                    </div>
                </div>
    </div>
    <div>
            <div class="widget" fxFlex="100" fxFlex.gt-sm="34">
                    <div class="fuse-card auto-width mb-32">
                        <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">
            
                            <div class="pr-16">
                                <div class="h3 secondary-text">Customers</div>
                                <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                                    100
                                </div>
                            </div>
            
                            <div class="py-4 font-size-16" fxLayout="row" fxLayoutAlign="start center">
                              
                                <div class="ml-4 text-nowrap">
                                        <button mat-button="" color="accent" class="ng-tns-c206-786 mat-button mat-button-base mat-accent" (click)="navigateTo('/people/customer')"><span class="mat-button-wrapper">Click here</span><div matripple="" class="mat-ripple mat-button-ripple"></div><div class="mat-button-focus-overlay"></div></button>
                                </div>
                            </div>
            
                        </div>
                    </div>
                </div>
    </div>
</div>


    




