// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";
//Notification css
body.theme-default{
.mat-snack-bar-container{
    .mat-simple-snackbar-action{
        color:#333333;
    }
    &.error{
        background:#f44336;
        color:#ffffff;
    }
    &.success{
        background:#4eb569;
        color:#ffffff;
    }
}
}